<!-- Vertical navbar -->
    {%- if page_paths -%}
	<div class="vertical-nav bg-dark" id="sidebar">
  		<div class="py-4 px-3 mb-4 bg-dark">
      		<div class="media-body">
        		<h4 class="font-weight-white text-muted mb-0">Verical Navbar</h4>
        		<p class="font-weight-grey text-muted mb-0">With HTML and Bootstrap</p>
      		</div>
  		</div>

  		<p class="text-white font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  		<ul class="nav flex-column bg-Inverse mb-0">
    		<li class="nav-item active">
      			<a href="/" class="nav-link text-light bg-dark">
                	<i class="text-Inverse fa-fw"></i>主页</a>
    		</li>

			<div class="trigger">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | upcase | escape }}</a>
              {%- endif -%}
            {%- endfor -%}

            {%- assign name = 'translate_langs' -%}
            {%- include functions.html func='get_value' -%}
            {%- assign translate_langs = return -%}
            {%- if translate_langs.size > 0 -%}
              <span class="page-link">
                  {%- include extensions/google-translate.html -%}
              </span>
            {%- endif -%}
          </div>
    
  			</ul>
	</div>
<!-- End vertical navbar -->
